preprocess do
	by_year(:all_posts).keys.each do |year|
		@items.create(
			'',
			{
				title: "Archive for #{year}",
				key: :by_year,
				value: year,
			},
			"/#{year}.html"
		)
	end

	by_tag(:all_posts).keys.each do |tag|
		@items.create(
			'',
			{
				title: "Archive for ##{tag}",
				key: :by_tag,
				value: tag,
			},
			"/tags/#{tag}.html"
		)
	end

	all_posts.each do |post|
		@items.create(
			@items['/avatar.jpg'].raw_filename,
			{},
			"#{Pathname.new(post.identifier).dirname}/avatar.jpg",
			binary: true
		)
	end
end

compile '/{notes,articles}/**/*.html' do
	filter :erubis
	filter :autop
	filter :autolink
	layout '/post.*'
	filter :clean_indents
end

compile '/{notes,articles}/**/*.md' do
	filter :erubis
	filter :kramdown, auto_ids: false
	filter :autolink
	layout '/post.*'
	filter :clean_indents
end

compile /\/(?:\d{4}.html)|tags\/.+/ do
	layout '/archive.*'
	layout '/default.*'
	filter :clean_indents
end

compile '/**/*.slim' do
	filter :slim, pretty: true, indent: "\t"
	layout '/default.*'
	filter :clean_indents
end

compile '/**/*.md' do
	filter :kramdown, auto_ids: false
	layout '/default.*'
	filter :clean_indents
end

compile '/**/*.html' do
	layout '/default.*'
	filter :clean_indents
end

compile '/**/*.scss' do
	filter :sass, syntax: :scss, style: :expanded
	filter :clean_indents
end

compile '/htaccess.erb' do
	filter :erubis
end

compile '/**/*' do
end

route '/{notes,articles}/**/*' do
	path = item.identifier.components[1..-1]
	article = path.last.start_with?("index.") ? item : @items["/{notes,articles}/#{path[0]}/index.*"]
	path[0] = path[0].to_slug.normalize.sub(/^\d+-/, '').split(/-/)[0..4].join("-")
	path = path.join("/").sub(/index\..*$/, "index.html")

	if article[:ipfs]
		"/ipfs/#{article[:ipfs]}/#{path}"
	else
		"/_ipfs/#{Base64.urlsafe_encode64(article.identifier)}/#{path}"
	end
end

route '/**/*.{slim,html,md}' do
	if item.identifier =~ '/index.*'
		'/index.html'
	else
		item.identifier.without_ext + '/index.html'
	end
end

route '/**/*.scss' do
	item.identifier.without_ext + '.css'
end

route '/htaccess.*' do
	'/.htaccess'
end

route '/**/*' do
	item.identifier.to_s
end

layout '/**/*.slim', :slim, pretty: true, indent: "\t"
